@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8d8d8d;
  background-color: #e9eaee;
  min-height: 1200px;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row,
.align_row,
.sidebar_row,
.between_row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.align_row {
  align-items: center;
}

.between_row {
  justify-content: space-between;
}

.sidebar_row {
  flex-direction: column;
}

.menu_row {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-gap: 10px;
}

.photo_grid {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-gap: 10px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

input {
  border: 0;
  background: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgb(36, 34, 34);
}

/* header start */
header {
  background-color: #3b5999;
  padding: 10px 0;
}

.main_logo {
  max-width: 50%;
  flex-basis: 50%;
}
.main_logo ul {
  width: 100%;
}
.main_logo ul li {
}
.main_logo ul .f_icon a {
  background-color: #fff;
  height: 21px;
  display: flex;
  align-items: center;
  width: 21px;
  border-radius: 2px;
}
.main_logo ul .f_icon a i {
  margin-left: 10px;
  color: #3b5999;
}
.main_logo ul li .input_box {
  width: 500px;
  margin-left: 8px;
  background-color: #fff;
  border-radius: 2px;
}
.main_logo ul li .input_box input {
  padding: 3px 6px;
}
/* .main_logo ul li .input_box input::placeholder{
    color: rgb(36, 34, 34);
} */

.main_logo ul li .input_box a {
  margin-right: 15px;
}
.main_logo ul li .input_box a i {
  color: gray;
  font-size: 12px;
}

nav {
  max-width: 40%;
  flex-basis: 40%;
}
nav .menu {
  max-width: 40%;
  flex-basis: 40%;
}

nav .header_icon,
nav .login_icon {
  max-width: 30%;
  flex-basis: 30%;
}
nav .menu ul {
}
nav .menu ul li {
}
nav .menu ul li img {
  height: 21px;
  margin-right: 8px;
  border-radius: 2px;
}
nav .menu ul li a {
  color: #fff;
  margin-right: 20px;
}
nav .menu ul li a span {
  font-size: 11px;
  font-weight: 400;
  background-color: #324f79;
  width: 12px;
  padding-left: 3px;
  display: inline-block;
  border-radius: 5px;
}

nav .header_icon {
}
nav .header_icon ul.row {
  justify-content: center;
}
nav .header_icon ul li {
}
nav .header_icon ul li a {
  color: #000000a6;
  margin-right: 10px;
  font-size: 16px;
}
nav .header_icon ul li a i {
}

nav .login_icon {
}
nav .login_icon ul.row {
  justify-content: flex-end;
}
nav .login_icon ul li {
}
nav .login_icon ul li a {
  color: #000000a6;
  margin-right: 7px;
  font-size: 15px;
}
nav .login_icon ul li a i {
}

/* header end */

/* banner start */
.banner_section {
}

/* banner leftSidebar start */
.banner_section .left_sidebar {
  flex-basis: 17%;
  max-width: 17%;
  margin-right: 1%;
}

.left_sidebar .page_identity {
  margin-top: 10px;
}
.left_sidebar .logo {
  background-color: #fff;
  padding: 4px;
}
.left_sidebar .logo img {
  border: 1px solid #ece9e9;
}

.page_title {
  margin: 12px 0;
}

.page_title .row {
  align-items: flex-end;
}
.page_title h1 {
  flex-basis: 80%;
  max-width: 80%;
  color: #333;
  font-size: 27px;
}

.page_title span {
  flex-basis: 20%;
  max-width: 20%;
  margin-bottom: 5px;
}
.page_title span i {
  font-size: 18px;
  color: #000;
}

.page_title a {
  color: gray;
}

.left_sidebar .sidebar_menu {
}

.sidebar_menu ul {
}
.sidebar_menu ul li {
  padding: 5px 10px;
}
.sidebar_menu ul li a {
  font-size: 15px;
}

.sidebar_menu ul li:first-child {
  position: relative;
  background-color: #dfe0e4;
  padding: 5px 10px;
}
.sidebar_menu ul .before::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 3px;
  top: 0;
  left: 0;
  background-color: #525f8c;
}
.sidebar_menu ul li:last-child a {
  background-color: #45bd28;
  color: #fff;
  display: inline-block;
  padding: 4px 7px;
  border-radius: 2px;
}

/* banner leftSidebar end */

/* banner mainbody start */
.banner_section .main_body {
  flex-basis: 82%;
  max-width: 82%;
}

.main_body .cover {
}
.main_body .cover .cover_img {
}

.cover_text {
  background-color: #fff;
  padding: 10px;
}

.cover_text .cover_like_options {
}

.cover_like_options ul {
}
.cover_like_options ul li {
  border: 1px solid #c5baba;
  padding: 5px 8px;
  border-radius: 2px;
}
.cover_like_options ul li a {
}
.cover_like_options ul li a i {
}
.cover_like_options ul li:nth-child(2) a i {
  color: gray;
}
.cover_like_options ul li:first-child a:first-child i {
  color: #3d5aa0;
}
.cover_like_options ul li a span {
}

.cover_like_options ul li a small.dot {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: gray;
  display: inline-block;
  margin-bottom: 3px;
}

.cover_text .contact_button {
  width: 310px;
  text-align: center;
  background-color: #4083f8;
  padding: 5px 0;
  border-radius: 2px;
}
.cover_text .contact_button .c_button {
}
.cover_text .contact_button .c_button a {
  color: #fff;
  cursor: pointer;
}

/* page post section start */
.main_body .own_posts {
  flex-basis: 65%;
  max-width: 65%;
}

/* write_something section start */
.own_posts .write_something_section {
  background-color: #fff;
  margin: 10px 0;
}

.own_posts .write_something_section .write_something_title {
  border-bottom: 1px solid #8080807d;
  padding: 5px 10px;
}

.write_something_title .status_photos {
}
.status_photos ul {
}
.status_photos ul li {
}
.status_photos ul li a {
}
.status_photos ul li a i {
}
.status_photos ul li a span {
}

.write_something_title .page_icon {
}
/* .page_icon .row{
    justify-content: center;
} */
.page_icon li:first-child {
  width: 40px;
}
.page_icon li {
}
.page_icon li img {
}

.write_something_section .write_something_box {
  padding: 5px 0px;
}
.post_logo {
  width: 60px;
}
.write_something_box .post_logo img {
}

.write_something_box input {
  width: 80%;
  padding: 0 20px;
}

/* write_something section end */

/* post section start */
.own_posts .post {
  background-color: #fff;
}

.post_1 {
  margin-bottom: 10px;
}

.post_title {
  padding: 8px 0;
}
.post_title .post_title_logo {
}
.post_title .post_title_logo img {
}

.post_title .page_name_info {
}
.post_title .page_name_info h4 {
  color: #5368a0;
}

.post_title .page_name_info .time_stamp {
  margin-top: 3px;
  font-size: 14px;
}

.page_name_info .time_stamp span {
}
.page_name_info .time_stamp a {
}
.page_name_info .time_stamp a i {
  font-size: 13px;
  color: #8d8d8d;
}

.post_headline {
  padding: 0px 10px;
  color: #000;
}

.post_card {
  padding: 10px;
}

.post_card .post_img {
  width: 100%;
  min-height: 320px;
  background-color: #282832;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post_card .post_img h2 {
  color: #fff;
  font-size: 32px;
}

.post_body {
  border: 1px solid #d4cdcd;
  padding: 10px;
}
.post_body h3 {
  color: #000;
}
.post_body p {
  margin: 10px 0;
  font-size: 15px;
  color: #000;
}
.post_body span {
  font-size: 14px;
  text-transform: uppercase;
}

.like_comment_share {
  padding: 0px 10px;
  border-bottom: 1px solid #d0bebe;
}
.like_comment_share ul {
  border-top: 1px solid #ccc0c0;
  padding: 8px 0;
}
.like_comment_share ul li {
  flex-basis: 20%;
  max-width: 20%;
}
.like_comment_share ul li a {
  color: gray;
}

.like_comment_share ul li a i {
}
.like_comment_share ul li a span {
}

.comment_box {background-color: #F6F7FC;}
.comment_box_logo {
  width: 43px;
  margin: 5px;
}
.comment_box_logo img {
}

.comment_box_input {
  flex-basis: 90%;
  max-width: 90%;
  padding: 3px 5px;
  border: 1px solid #d8cccc;
  background-color: #fff;
}
.comment_box_input input {
  font-size: 13px;
}

.comment_box_input_icon {
}
.comment_box_input_icon ul {
}
.comment_box_input_icon ul a {
  color: gray;
  font-size: 14px;
  margin: 0 5px;
}
.comment_box_input_icon ul a i {
}

/* post 2 start*/
.post_2 {margin-bottom: 10px;}
.post_2 .post_img img {
}

.post_2 .like_box {background-color: #F6F7FC;padding: 8px 10px;}
.post_2 .like_box ul {
}
.post_2 .like_box ul li {
}
.post_2 .like_box ul li a {display: block;width: 22px;height: 22px;background-color: #4575B5;border-radius: 100%;}
.post_2 .like_box ul li a i {color: #fff;margin: 2px 0 0 5px;font-size: 13px;}

.post_3{
    padding-bottom: 10px;
}
/* post section end */

/* page post section end */

/* right bar start */
.rightbar {
  flex-basis: 34%;
  max-width: 34%;
}

/* business service start */
.business_service {
}
.business_service h2 {
}
.business_service .rating_box {
}
.business_service .rating_box ul {
}
.business_service .rating_box ul li {
}
.business_service .rating_box ul li a {
}
.business_service .rating_box ul li a i {
}

/* post search start */
.post_search {
}
.post_search ul {
}
.post_search ul li {
}
.post_search ul li a {
}
.post_search ul li a i {
}

/* page followers info start */
.page_followers_info {
}

.page_followers_info {
}
.page_followers_info .people_like {
}

.follower_info {
}

.follower_info .people_icon {
}
.follower_info .people_icon img {
}
.follower_info .people_icon i {
}

.follower_info .like_info {
}
.follower_info .like_info h3 {
}
.rightbar_common_p {
}

.people_here {
}

.invite {
}

.page_review_lite {
}

.blue_box {
}
.blue_box span {
}
.blue_box i {
}

/* about section */

.about_section {
}
.rightbar_common_div {
}
.rightbar_common_div h2 {
}
.about_section .map {
}

.location_info {
}
.address {
}

.address_details p,
.map_save p {
}
.map_save {
}

.questions {
}

.questions .ques_icon {
}
.questions .ques_icon .ques_box {
}
.questions .ques_icon .ques_box i {
}

.ques_details a {
}

.website {
}

.web_details a {
}

/* share section start */
.share_section {
}

.share_section h2 {
}
.share_section h2 b {
}

.rated_page {
}

.write_review {
}

.review_page_icon {
}
.review_page_icon img {
}
.review_details a {
}

/* photos section */
.photo_album {
}
.photo_album .single_photo {
}
.photo_album .single_photo img {
}

/* review section start */
.review_section {
}
.people_review .blue_box span {
}
.people_review .blue_box i {
}

.people_review .people_review_info h3 {
}
.people_review .people_review_info span {
}
.people_review .people_review_info span i {
}

.like_comment_box {
}

.like_info li {
}
.like_info li a {
}
.like_info li a i {
}
.like_info li a span {
}

/* right bar end */

/* banner mainbody end */
/* banner section end */
